{% extends 'app/base.html' %}
{% load static %}
{% block hethongfpt_content %}
     
</head>
<body>

<div class="header">
    <img src="{% static "app/images/hethongfpt.png" %}" alt="Background Image">
    <h1>HỆ THỐNG PHỔ THÔNG FPT</h1>
</div>

<div class="content">
    <h2>HỆ THỐNG PHỔ THÔNG FPT</h2>
    <p>
        Thành lập vào năm 2013, Hệ thống Phổ thông FPT (FPT Schools) trực thuộc Tổ chức Giáo dục FPT, 
        là hệ thống giáo dục chất lượng cao gồm 3 cấp Tiểu học, Trung học cơ sở và Trung học phổ thông.
    </p>
</div>

</body>


{% endblock hethongfpt_content %}
